//- Angular native files
script(src='lib/angular/angular.min.js')
script(src='lib/angular-route/angular-route.min.js')
script(src='lib/angular-animate/angular-animate.min.js')

//- Angular-Bootstrap files
//- script(src='lib/angular-bootstrap/ui-bootstrap.min.js')
script(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')

//- Auth files
script(src='lib/ngstorage/ngStorage.min.js')

//- Clipboard	
script(src='lib/angular-clipboard/angular-clipboard.js')

//- Angular app files
script(src='js/app.js')

//- Angular services
script(src='js/services/wordsService.js')
script(src='js/services/rhymesApiService.js')
script(src='js/services/PageService.js')

//- Angular controllers
script(src='js/controllers/PageController.js')
script(src='js/controllers/MainController.js')
script(src='js/controllers/AdminController.js')
script(src='js/controllers/EditController.js')
script(src='js/controllers/UploadController.js')