nav.navbar.navbar-inverse.navbar-fixed-top.admin-navbar
	div.container-fluid()
		div.navbar-header
			button.navbar-toggle.collapsed(type="button", ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="/",class="navbar-brand") TheSaurus
		div#top-bar.collapse.navbar-collapse.navbar-responsive-collapse(uib-collapse="navCollapsed")
			ul.nav.navbar-nav
				li: a(href="/admin", ng-click="navCollapsed = true") Search 
				li: a(href="/upload", ng-click="navCollapsed = true") Upload file

			ul.nav.navbar-nav.navbar-right
				li.dropdown(uib-dropdown)
					a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false", uib-dropdown-toggle)
						span.glyphicon.glyphicon-play-circle(aria-hidden="true")
						|  Access
					ul.dropdown-menu(uib-dropdown-menu)
						li: a(href="#") Logout