include ../includes/head.jade
include ../includes/header.jade

div.container.admin(ng-controller='AdminController')
	div.row
		div.page-header
			h1 Admin panel 
				span.label.label-info(ng-show="wordsCount") {{ wordsCount }} words

	div.row
		div.col-md-offset-1.col-md-10.shadow.search-box
			form
				div.input-group
					input.form-control(type="search", ng-model="searchData.word")
					span.input-group-btn
						button.btn.btn-primary(ng-click="search(searchData)") Search &nbsp
							span.glyphicon.glyphicon-search
			span.label.label-success(ng-show="words.length") {{ words.length }} words found with "{{ searchData.word }}"

	div.row
		div.col-md-offset-1.col-md-10.shadow
			table.table.table-hover
				thead: tr 
					th Word
					th # synonyms
					th # rhymes
					th Actions
				tbody
					tr(ng-repeat="word in words")
						th {{ word.title }}
						th {{ word.synonymous.length }}
						th {{ word.rhymes.length }}
						th 
							div.btn-group
								a.btn.btn-primary(href="/edit/{{word.title}}", data-toggle="tooltip", title="Edit {{ word.title }}"): span.glyphicon.glyphicon-pencil
								a.btn.btn-primary(href="/synonyms/{{word.title}}", data-toggle="tooltip", title="Search {{ word.title }}"): span.glyphicon.glyphicon-search
								a.btn.btn-primary(href="/synonyms/{{word.title}}", data-toggle="tooltip", title="Delete {{ word.title }}"): span.glyphicon.glyphicon-trash

include ../includes/footer.jade