include ../includes/header.jade

div.container.admin()
	div.row
		div.page-header
			h1 Editing 
				b {{ wordToEdit.title }}

	div.row.col-md-offset-1.col-md-10.shadow
		div.form-horizontal
			//- div(class="form-group")
				//- label.col-sm-2.control-label(for="wordtitle") Word title
				//- div.col-sm-10
				//- 	input#wordtitle.form-control(disabled, type="text", value="{{ wordToEdit.title }}") 

			div(class="form-group")
				label.col-sm-2.control-label(for="synonymous") Synonymous
				div.col-sm-10
					textarea#synonymous.form-control(rows=6, aria-describedby="helpSynonymous", ng-model="wordToEdit.synonyms") 
					span#helpSynonymous.help-block Comma separated words
			div(class="form-group")
				label.col-sm-2.control-label(for="ryhmes") Ryhmes
				div.col-sm-10
					textarea#rhymes.form-control(rows=6, aria-describedby="helpRhymes", ng-model="wordToEdit.rhymes") 
					span#helpRhymes.help-block Comma separated words
			div(class="form-group")
				div.col-sm-offset-2.col-sm-4
					button.btn.btn-primary(ng-click="saveWord(wordToEdit)") Save
				div.col-sm-6
					div.alert(class="alert-{{alert.type}}", role="alert") 
						span.glyphicon(class="glyphicon-{{ alert.icon }}")
						| &nbsp {{ alert.text }}