div.container
	div.row
		div.page-header
			h1 Synonyms 
				span(ng-show="searchData.word") for {{ searchData.word }}
	
	div.row
		div.col-md-offset-2.col-md-8.shadow.search-box
			div.col-md-6
				form
					div.input-group
						input.form-control(type="search", ng-model="searchData.word")
						span.input-group-btn
							button.btn.btn-primary(ng-click="search(searchData)") Search &nbsp
								span.glyphicon.glyphicon-search
				span.label.label-success(ng-show="synonyms.length || rhymes.length") 
					span.glyphicon.glyphicon-ok 
					| &nbsp {{ synonyms.length }} synonyms and {{ rhymes.length }} rhymes found
			div.col-md-6
				div
					p Download Brainstorm Pro Desktop Thesaurus Software Free & Find More Synonyms & Related Words for Method. Up to 20x Faster Than Browsing Online Sites!
					a(href="http://www.brainstormpro.com/", target="_blank") Click here for the fastest thesaurus software.
		//- div.col-md-4


	div.row
		div.col-md-offset-2.col-md-8.shadow
			form.form-inline
				div.form-group
					b Clipboard delimiter: &nbsp
					label(for="beforeDelimiter") Before &nbsp
					input#beforeDelimiter.form-control(type="text", name="beforeDelimiter", ng-model="beforeDelimiter", size="5")
					label(for="afterDelimiter") After &nbsp
					input#afterDelimiter.form-control(type="text", name="afterDelimiter", ng-model="afterDelimiter", size="5")
				div.alert.wordsAlert(class="alert-{{alert.type}}", role="alert") 
					span.glyphicon(class="glyphicon-{{ alert.icon }}")
					| &nbsp {{ alert.text }}
				hr
				div.btn-group.list-buttons
					div.btn-group: button.btn.btn-primary(ng-click="copySelected()") Copy words &nbsp
								span.glyphicon.glyphicon-copy
					div.btn-group: button.btn.btn-primary(ng-click="pasteToWorkspace()") Paste to workspace &nbsp
							span.glyphicon.glyphicon-paste
					div.btn-group: button.btn.btn-primary(ng-click="clearClipboard()") Clear clipboard &nbsp
							span.glyphicon.glyphicon-download-alt
					div.btn-group: button.btn.btn-primary(ng-click="saveDownload()") Save as rtf &nbsp
							span.glyphicon.glyphicon-download-alt

		div.col-md-offset-2.col-md-8.shadow
			div.form-group
				textarea.form-control(rows=3, ng-model="workspaceArea")
	//- div.row.shadow
	//- 	div.col-md-12

	div.row
		//- div.col-md-12
		div.col-md-offset-2.col-md-8.shadow.synonyms-col
			a.pull-right.collapse-button(ng-click="synonymsCollapsed = !synonymsCollapsed")
				span.glyphicon.glyphicon-chevron-up(ng-show="!synonymsCollapsed")
				span.glyphicon.glyphicon-chevron-down(ng-show="synonymsCollapsed")
			h4.center Showing 
				span(ng-show="words.length") {{ synonyms.length }} 
				| synonyms
			hr(ng-show="!synonymsCollapsed")
			div(uib-collapse="synonymsCollapsed")
				div.btn-group.btn-group-justified.list-buttons
					div.btn-group: button.btn.btn-primary(ng-click="checkAllSynonyms()") Check all
					div.btn-group: button.btn.btn-primary(ng-click="uncheckAllSynonyms()") Uncheck all
					div.btn-group(uib-dropdown)
						button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", uib-dropdown-toggle) Order &nbsp
							span.caret
						ul.dropdown-menu(uib-dropdown-menu)
							li: a(href="", ng-click="orderAZSynonyms()") A-Z
							li: a(href="", ng-click="orderZASynonyms()") Z-A
							li: a(href="", ng-click="orderLengthLowerToHigherSynonyms()") Length
								span.glyphicon.glyphicon-arrow-up
							li: a(href="", ng-click="orderLengthHigherToLowerSynonyms()") Length
								span.glyphicon.glyphicon-arrow-down
				div.words-list-wrap
					ul.words-list
						li.wordItem(ng-repeat="ss in synonyms | orderBy: synonymsOrder : synonymsReverse")
							input(type='checkbox', ng-model="ss.Selected", id="{{ss.name}}")
							label(for="{{ss.name}}")
								span
								a.list-item-link(href="/synonyms/{{ss.link}}", data-toggle="tooltip", title="Search for {{ ss.name }}") {{ ss.name }}

		div.col-md-offset-2.col-md-8.shadow.rhymes-col
			a.pull-right.collapse-button(ng-click="rhymesCollapsed = !rhymesCollapsed")
				span.glyphicon.glyphicon-chevron-up(ng-show="!rhymesCollapsed")
				span.glyphicon.glyphicon-chevron-down(ng-show="rhymesCollapsed")
			h4 Showing 
				span(ng-show="words.length") {{ rhymes.length }} 
				| rhymes
			hr(ng-show="!rhymesCollapsed")
			div(uib-collapse="rhymesCollapsed")
				div.btn-group.btn-group-justified.list-buttons
					div.btn-group: button.btn.btn-primary(ng-click="checkAllRhymes()") Check all
					div.btn-group: button.btn.btn-primary(ng-click="uncheckAllRhymes()") Uncheck all
					div.btn-group(uib-dropdown)
						button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", uib-dropdown-toggle) Order &nbsp
							span.caret
						ul.dropdown-menu(uib-dropdown-menu)
							li: a(href="", ng-click="orderAZRhymes()") A-Z
							li: a(href="", ng-click="orderZARhymes()") Z-A
							li: a(href="", ng-click="orderLengthLowerToHigherRhymes()") Length
								span.glyphicon.glyphicon-arrow-up
							li: a(href="", ng-click="orderLengthHigherToLowerRhymes()") Length
								span.glyphicon.glyphicon-arrow-down
				div.words-list-wrap
					ul.words-list
						li.wordItem(ng-repeat="rs in rhymes | orderBy: rhymesOrder : rhymesReverse")
							input(type='checkbox', ng-model="rs.Selected", id="{{rs.name}}")
							label(for="{{rs.name}}")
								span
								a.list-item-link(href="/synonyms/{{rs.link}}", data-toggle="tooltip", title="Search for {{ rs.name }}") {{ rs.name }}
