include ../includes/header.jade

div.container.admin(ng-controller='AdminController')
	div.row
		div.page-header
			h1 Upload file

		div.row
			form.form-horizontal(name="upload", action="/upload", method="post", enctype="multipart/form-data")
				div(class="form-group")
					label.col-sm-2.control-label(for="wordtitle") Select file
					div.col-sm-10
						input(type="file", name="recfile")
	
				div(class="form-group")
					div.col-sm-offset-2.col-sm-10
						button.btn.btn-primary() Upload
						//- input(type="submit", value="Upload")