doctype html
html(ng-app="theSaurusApp", ng-controller="PageController")
	head
		title {{ Page.title() }}
		meta(charset='utf8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="fragment", content="!")
		base(href='/')
		//- link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-material.min.css')
		//- link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')

		script(type="text/javascript").
			if ( !window.location.host.includes("localhost") ) {
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-66630955-1', 'auto');
				ga('send', 'pageview');
			}
	body
		block content

	//- Angular native files
	script(src='lib/angular/angular.min.js')
	script(src='lib/angular-route/angular-route.min.js')
	script(src='lib/angular-animate/angular-animate.min.js')

	//- Angular-Bootstrap files
	//- script(src='lib/angular-bootstrap/ui-bootstrap.min.js')
	script(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')

	//- Auth files
	script(src='lib/ngstorage/ngStorage.min.js')

	//- Clipboard	
	script(src='lib/angular-clipboard/angular-clipboard.js')

	//- Angular app files
	script(src='js/app.js')

	//- Angular services
	script(src='js/services/wordsService.js')
	script(src='js/services/rhymesApiService.js')
	script(src='js/services/PageService.js')
	
	//- Angular controllers
	script(src='js/controllers/PageController.js')
	script(src='js/controllers/MainController.js')
	script(src='js/controllers/AdminController.js')
	script(src='js/controllers/EditController.js')
	script(src='js/controllers/UploadController.js')

	//- Angular directives
