doctype html
html(ng-app="theSaurusApp")
	head
		title=title 
			|  - Brainstorm Pro
		meta(charset='utf8')
		meta(name="description", content="#{description}")
		meta(name="keywords", content="#{keywords}")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="fragment", content="!")
		base(href='/')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')

		script(type="text/javascript").
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-66630955-1', 'auto');
			ga('send', 'pageview');

	body(ng-controller="MainController")
		div.container
			//- div.row
				div.page-header
			div.row
				div.col-md-offset-1.col-md-10.shadow.search-box(style="margin-top: 20px;")
					div.row(style="margin-bottom: 0px;")
						div.col-md-12
							h1=title
					div.row(style="margin: 20px -15px;")
						div.col-md-6
							form
								div.input-group
									input.form-control#searchInput(type="search")
									span.input-group-btn
										button.btn.btn-primary(onclick="performSearch($('#searchInput').val())") Search &nbsp
											span.glyphicon.glyphicon-search
								if synonyms.length
									span.label.label-success 
										span.glyphicon.glyphicon-ok 
										| &nbsp #{ synonyms.length } synonyms and {{ rhymes.length }} rhymes found
						div.col-md-6
							p Desktop Ultra Speed Edition: 
								a(href="http://www.brainstormpro.com", target="_blank") www.brainstormpro.com

							p Chrome Thesaurus Extension: 
								a(href="https://chrome.google.com/webstore/detail/synonyms/dihehjfmpcjljgghmnindfepddmcfbph", target="_blank") Add to Chrome

							p Firefox Thesaurus Plugin 
								a(href="https://addons.mozilla.org/en-US/firefox/addon/synonym-addon/", target="_blank") Add to Firefox 
							
							//- div
								p Download Brainstorm Pro Desktop Thesaurus Software Free & Find More Synonyms & Related Words for Method. Up to 20x Faster Than Browsing Online Sites!
								a(href="http://www.brainstormpro.com/", target="_blank") Click here for the fastest thesaurus software.

					//- div.row
					//- 	div.col-md-offset-2.col-md-8.shadow
					div.row
						div.col-md-8
							form.form-inline
								div.form-group
									b Clipboard delimiter: &nbsp
									label(for="beforeDelimiter") Before &nbsp
									input#beforeDelimiter.form-control(type="text", name="beforeDelimiter", ng-model="beforeDelimiter", size="5")
									label(for="afterDelimiter") After &nbsp
									input#afterDelimiter.form-control(type="text", name="afterDelimiter", ng-model="afterDelimiter", size="5")
								div.alert.wordsAlert(class="alert-{{alert.type}}", role="alert") 
									span.glyphicon(class="glyphicon-{{ alert.icon }}")
									| &nbsp {{ alert.text }}
								hr
								div.btn-group.list-buttons
									div.btn-group: button.btn.btn-primary(ng-click="copySelected()") Copy words &nbsp
												span.glyphicon.glyphicon-copy
									div.btn-group: button.btn.btn-primary(ng-click="pasteToWorkspace()") Paste to workspace &nbsp
											span.glyphicon.glyphicon-paste
									div.btn-group: button.btn.btn-primary(ng-click="clearClipboard()") Clear clipboard &nbsp
											span.glyphicon.glyphicon-erase
									div.btn-group: button.btn.btn-primary(ng-click="saveDownload()") As rtf &nbsp
											span.glyphicon.glyphicon-download-alt

						div.col-md-4											
							div.form-group
								textarea.form-control(rows=6, ng-model="workspaceArea")
			div.row
				div.col-md-offset-1.col-md-10.shadow.synonyms-col
					a.pull-right.collapse-button(ng-click="synonymsCollapsed = !synonymsCollapsed")
						span.glyphicon.glyphicon-chevron-up(ng-show="!synonymsCollapsed")
						span.glyphicon.glyphicon-chevron-down(ng-show="synonymsCollapsed")
					h4.center Showing 
						span #{synonyms.length} 
						| synonyms
					hr(ng-show="!synonymsCollapsed")
					div(uib-collapse="synonymsCollapsed")
						div.btn-group.btn-group-justified.list-buttons
							div.btn-group: button.btn.btn-primary(ng-click="checkAllSynonyms()") Check all
							div.btn-group: button.btn.btn-primary(ng-click="uncheckAllSynonyms()") Uncheck all
							div.btn-group(uib-dropdown)
								button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", uib-dropdown-toggle) Order &nbsp
									span.caret
								ul.dropdown-menu(uib-dropdown-menu)
									li: a(href="", ng-click="orderAZSynonyms()") A-Z
									li: a(href="", ng-click="orderZASynonyms()") Z-A
									li: a(href="", ng-click="orderLengthLowerToHigherSynonyms()") Length
										span.glyphicon.glyphicon-arrow-up
									li: a(href="", ng-click="orderLengthHigherToLowerSynonyms()") Length
										span.glyphicon.glyphicon-arrow-down
						div.words-list-wrap
							ul.words-list(ng-show="false")
								each word in synonyms
									li.wordItem
										input(type='checkbox', id="#{word.word}-static")
										label(for="#{word.word}-static")
											span
											a.list-item-link(href="/synonyms/#{word.link}") #{word.word}
							ul.words-list
								li.wordItem(ng-repeat="ss in synonyms | orderBy: synonymsOrder : synonymsReverse")
									input(type='checkbox', ng-model="ss.Selected", id="{{ss.name}}")
									label(for="{{ss.name}}")
										span
										a.list-item-link(href="/synonyms/{{ss.link}}", data-toggle="tooltip", title="Search for {{ ss.name }}") {{ ss.name }}

				div.col-md-offset-1.col-md-10.shadow.rhymes-col
					a.pull-right.collapse-button(ng-click="rhymesCollapsed = !rhymesCollapsed")
						span.glyphicon.glyphicon-chevron-up(ng-show="!rhymesCollapsed")
						span.glyphicon.glyphicon-chevron-down(ng-show="rhymesCollapsed")
					h4 Showing 
						span #{ rhymes.length } 
						| rhymes
					hr(ng-show="!rhymesCollapsed")
					div(uib-collapse="rhymesCollapsed")
						div.btn-group.btn-group-justified.list-buttons
							div.btn-group: button.btn.btn-primary(ng-click="checkAllRhymes()") Check all
							div.btn-group: button.btn.btn-primary(ng-click="uncheckAllRhymes()") Uncheck all
							div.btn-group(uib-dropdown)
								button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", uib-dropdown-toggle) Order &nbsp
									span.caret
								ul.dropdown-menu(uib-dropdown-menu)
									li: a(href="", ng-click="orderAZRhymes()") A-Z
									li: a(href="", ng-click="orderZARhymes()") Z-A
									li: a(href="", ng-click="orderLengthLowerToHigherRhymes()") Length
										span.glyphicon.glyphicon-arrow-up
									li: a(href="", ng-click="orderLengthHigherToLowerRhymes()") Length
										span.glyphicon.glyphicon-arrow-down
						div.words-list-wrap
							ul.words-list(ng-show="false")
								each word in rhymes
									li.wordItem
										input(type='checkbox', id="#{word.word}-static")
										label(for="#{word.word}-static")
											span
											a.list-item-link(href="/synonyms/#{word.link}") #{word.word}
							ul.words-list
								li.wordItem(ng-repeat="rs in rhymes | orderBy: rhymesOrder : rhymesReverse")
									input(type='checkbox', ng-model="rs.Selected", id="{{rs.name}}")
									label(for="{{rs.name}}")
										span
										a.list-item-link(href="/synonyms/{{rs.link}}", data-toggle="tooltip", title="Search for {{ rs.name }}") {{ rs.name }}

	script(src='lib/jquery/dist/jquery.min.js')
	script(src='lib/bootstrap/dist/js/bootstrap.min.js')
	script(src='js/script.js')

	script(src='lib/angular/angular.min.js')
	script(src='lib/angular-route/angular-route.min.js')
	script(src='lib/angular-animate/angular-animate.min.js')

	//- Angular-Bootstrap files
	//- script(src='lib/angular-bootstrap/ui-bootstrap.min.js')
	script(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')

	//- Auth files
	script(src='lib/ngstorage/ngStorage.min.js')

	//- Clipboard	
	script(src='lib/angular-clipboard/angular-clipboard.js')

	//- Angular app files
	script(src='js/app.js')

	//- Angular services
	script(src='js/services/wordsService.js')
	script(src='js/services/rhymesApiService.js')
	script(src='js/services/PageService.js')
	
	//- Angular controllers
	script(src='js/controllers/PageController.js')
	script(src='js/controllers/MainController.js')
	script(src='js/controllers/AdminController.js')
	script(src='js/controllers/EditController.js')
	script(src='js/controllers/UploadController.js')