doctype html
html(ng-app="theSaurusApp")
	head
		title=title 
			|  - Brainstorm Pro
		meta(charset='utf8')
		meta(name="description", content="#{description}")
		meta(name="keywords", content="#{keywords}")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="fragment", content="!")
		base(href='/')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
		link(href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet")
		script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

		script(type="text/javascript").
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-66630955-1', 'auto');
			ga('send', 'pageview');

	body(ng-controller="MainController")
		div.container
			div.row.first-row
				div.col-md-4.col-md-offset-1
					img(src="/images/qr1.jpg")
				div.col-md-3
					a(target="_blank", href="http://www.brainstormpro.com/ts1")
						img(src="http://www.brainstormpro.com/inc1/img1.gif")
				div.col-md-3
					a(target="_blank", href="http://www.brainstormpro.com/ts2")
						img(src="http://www.brainstormpro.com/inc1/img2.gif")

			div.row
				div.col-md-offset-1.col-md-10.search-box
					div.row(style="margin-bottom: 0px;")
						div.col-md-12
							h1.title=title
					div.row(style="margin: 0px -15px 0px;")
						div.col-md-12
							form.form-inline.search-form
								input.form-control#searchInput(type="search", ng-model="search.words")
								button.btn.btn-primary(ng-click="quickRapsSearch()", data-toggle="tooltip", title="Find synonyms") Go  
									span.glyphicon.glyphicon-arrow-right 
								button.btn.btn-primary(ng-click="copySelected()" data-toggle="tooltip", title="Copy selected words") Copy
								button.btn.btn-primary#findRhymes(ng-click="findRhymes()" data-toggle="tooltip", title="Copy selected words") Rhyme Checked
								button.btn.btn-primary(ng-click="saveDownload()", data-toggle="tooltip", title="Save selected words into a text file") Save
							//- a(target="_blank", href="http://www.brainstormpro.com/ts3")
								img(src="http://www.brainstormpro.com/inc1/img3.gif")

			div.row
				div.col-md-offset-1.col-md-10.synonyms-col
					div(uib-collapse="synonymsCollapsed")
						div.row.toolbar
							div.col-md-12
								div(style="display: inline;")
									div.btn-group: button.btn.btn-primary(ng-click="checkAllSynonyms()") Check all
									| |
									div.btn-group: button.btn.btn-primary(ng-click="uncheckAllSynonyms()") Uncheck all
									| |
									div.btn-group: a.btn.btn-primary(href="", ng-click="orderAZSynonyms()") A-Z
									| |
									div.btn-group: a.btn.btn-primary(href="", ng-click="orderZASynonyms()") Z-A
									| |
									div.btn-group: a.btn.btn-primary(href="", ng-click="orderLengthLowerToHigherSynonyms()") 
										span.glyphicon.glyphicon-arrow-up 
									| |
									div.btn-group: a.btn.btn-primary(href="", ng-click="orderLengthHigherToLowerSynonyms()") 
										span.glyphicon.glyphicon-arrow-down									
								form.form-inline(style="display: inline;")
									div.form-group
										| Clipboard delimiters: &nbsp
										label(for="beforeDelimiter") Before &nbsp
										input#beforeDelimiter.form-control(type="text", name="beforeDelimiter", ng-model="beforeDelimiter", size="5")
										label(for="afterDelimiter") After &nbsp
										input#afterDelimiter.form-control(type="text", name="afterDelimiter", ng-model="afterDelimiter", size="5")

						div.row
							div.col-md-10.col-md-offset-1.words-list-wrap
								div#ngtickerMessage.ngtickerMessage
									ul.quote-list
										li.quote.list(ng-repeat="q in quotes", ng-style="{opacity:setVisible($index)}")
											"{{ q.content }}" ~ {{ q.name }}

						div.row
							div.col-md-10.words-list-wrap
								ul.words-list
									li.wordItem(ng-repeat="ss in synonyms | orderBy: synonymsOrder : synonymsReverse")
										input(type='checkbox', ng-model="ss.Selected", id="{{ss.name}}")
										label(for="{{ss.name}}")
											span 
											div.list-word(data-toggle="tooltip", title="Mark {{ ss.name }}") {{ ss.name }}

								ul(ng-show="false", style="position: absolute; left: -999px;")
									each word in synonyms
										li #{word.word}

							div.col-md-2
								ins.adsbygoogle(style="display:inline-block;width:120px;height:600px", data-ad-client="ca-pub-8804516893666353", data-ad-slot="4857366405")
								script.
									(adsbygoogle = window.adsbygoogle || []).push({})

			div.row
				div.col-md-offset-1.col-md-10.rhymesbox#rhymesbox
					div.rhymeList(ng-repeat="rhymeList in quickRhymes")
						b {{rhymeList.word}}:&nbsp
						span(ng-repeat="rhyme in rhymeList.rhymes") {{rhyme}},&nbsp 
						span {{rhymeList.message}} 

			div.row
				div.col-md-offset-1.col-md-10
					iframe(src="http://brainstormpro.com/inc1/b1.html", style="border: none; width: 100%; height: 800px", scrolling="no")

	script(src='lib/jquery/dist/jquery.min.js')
	script(src='lib/bootstrap/dist/js/bootstrap.min.js')
	script(src='js/script.js')

	script(src='lib/angular/angular.min.js')
	script(src='lib/angular-route/angular-route.min.js')
	script(src='lib/angular-animate/angular-animate.min.js')

	//- Angular-Bootstrap files
	//- script(src='lib/angular-bootstrap/ui-bootstrap.min.js')
	script(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')

	//- Auth files
	script(src='lib/ngstorage/ngStorage.min.js')

	//- Clipboard	
	script(src='lib/angular-clipboard/angular-clipboard.js')

	//- File saver
	script(src='lib/file-saver.js/FileSaver.js')
	script(src='lib/blob-polyfill/Blob.js')
	script(src='lib/angular-file-saver/dist/angular-file-saver.bundle.min.js')

	//- Angular app files
	script(src='js/app.js')

	//- Angular services
	script(src='js/services/wordsService.js')
	script(src='js/services/rhymesApiService.js')
	script(src='js/services/quotesApiService.js')
	script(src='js/services/PageService.js')
	
	//- Angular controllers
	script(src='js/controllers/PageController.js')
	script(src='js/controllers/MainController.js')
	script(src='js/controllers/AdminController.js')
	script(src='js/controllers/EditController.js')
	script(src='js/controllers/UploadController.js')