body {
	font: 14px "Lato","Lucida Grande", Helvetica, Arial, sans-serif;
	/* background-color: #ECEFF1 !important; */
	background-color: #FEFEFE !important;
}

h1.title {
	font-family: "Orbitron", "Lato","Lucida Grande", Helvetica, Arial, sans-serif;
	color: blue;
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
	font-size: 30px;
}

button.btn, a.btn {
	font-family: "Orbitron", "Lato","Lucida Grande", Helvetica, Arial, sans-serif !important;	
}

a#bookmarkme {
	background: #309600;
	padding: 7px;
	color: white;
	font-weight: 800;
	border-radius: 2px;
	margin: 5px;	
}

.admin {
	padding-top: 70px;
}

.navbar-inverse.admin-navbar {
	background-color: #34495E;
	border-color: #34495E;
}

.navbar-inverse.admin-navbar .navbar-brand {
	color: white;
}

.navbar-inverse.admin-navbar .navbar-nav>li>a {
	color: #B0BEC5;
}

a {
	color: #00B7FF;
}

a.list-item-link {
	cursor: pointer;
}

.first-row {
	margin-top: 5px;
}

.first-row img {
	max-width: 100%;
}

.toolbar {
	background: #337ab7;
	color: white;
	border-radius: 5px;
	padding: 5px 0;
	margin-bottom: 0px;
}

.toolbar .btn {
	border: none;
	margin: 0 5px !important;
	font-weight: 700;
}

.toolabr label {
	font-weight: 300 !important;
}

.shadow {
	background: white;
	margin: 15px 0px;
	padding: 20px 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

ul.quote-list {
	list-style: none;
}

li.quote {
	color: orange;
	font-weight: bold;
	text-decoration: underline;
}

.ngtickerMessage {
	margin-bottom: 5px;
	border-left: 1px solid #4cb0fc;
	border-right: 1px solid #4cb0fc;
	border-bottom: 1px solid #4cb0fc;
	height: 30px;
}

.ngtickerMessage > ul li {    
	display:initial;
	position:absolute;
}

#ngtickerMessage ul {
	position: relative;
	margin: 0;
	padding: 5px 10px;
}

#ngtickerMessage .list {
	position: absolute;
	-webkit-transition: all .8s;
	transition: all .8s;
}

.list-word {
	display: inline;
	cursor: pointer;
	color: #286090;
}

li.wordItem {
	list-style: none;
    margin-bottom: 0px;
}

li.wordItem input {
	margin-right: 10px;
}

.synonyms-col, .rhymes-col {
	/* margin-left: -15px; */
}

div.words-list-wrap {
	/* overflow-y: scroll; */
	/* max-height: 450px; */
}

.synonyms-col ul.words-list, .rhymes-col ul.words-list {
	/* margin-top: 20px;	 */
	-moz-column-count: 4;
	-moz-column-gap: 10px;
	-webkit-column-count: 4;
	-webkit-column-gap: 10px;
	column-count: 4;
	column-gap: 10px;
	padding-left: 10px;
	width: 100%;
}

.wordlist-title {
	font-weight: bold;
	text-transform: capitalize;
	margin: 0 0 5px 5px;	
}

ul.words-list-quickraps {
	padding-left: 10px;
	width: 100%;
}

.list-buttons {
	margin-bottom: 20px;
}

.search-box {
	margin: 0;
	padding: 0 20px;
	/* min-height: 110px !important;	 */
	margin-bottom: 5px;
}

.search-box p {
	padding: 0;
	margin: 0;
}

.search-box hr {
	margin: 10px 0 20px;
}

.search-form {
	display: inline;
}

.search-form input, .btn {
	margin-right: 10px;
}

#searchInput {
	width: 40%;
}

.wordsAlert {
	max-width: 300px;
	margin-left: 20px;
	display: inline-block;
	margin-bottom: 0 !important;
}

#beforeDelimiter {
    margin-right: 10px;
}

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 7px;
	box-shadow: 0 0 3px 1px #CCC inset;
	border-radius: 200px;
	cursor: pointer;
	border: 1px solid #999;
    vertical-align: middle;
    -webkit-transition: all .1s;
       -moz-transition: all .1s;
        -ms-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}

input[type="checkbox"]:checked + label span {
/* 	box-shadow: 0px 0px 0px 2px #eee inset;
	background: #286090; */
	box-shadow: none;
	background: green;
	border-radius: 200px;
	border: none;	
}

input[type="checkbox"]:checked + label span:after {
    content: '✓';
    margin-bottom: 40px;
    margin-left: 5px;
    color: white;
    font-size: 12px;
}

a.collapse-button {
	color: #333;
	font-size: 19px;
	cursor: pointer;
}

.rhymesbox {
	background: lightgreen;
	color: purple;
}

.rhymeList {
	margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
	.synonyms-col ul.words-list, .rhymes-col ul.words-list {
		-moz-column-count: 1;
		-moz-column-gap: 10px;
		-webkit-column-count: 1;
		-webkit-column-gap: 10px;
		column-count: 1;
		column-gap: 10px;
	}

	div.words-list-wrap {
		/* overflow-y: scroll; */
		/* max-height: 350px; */
	}

	#searchInput {
		width: 100%;
	}

	#beforeDelimiter, #afterDelimiter {
		width: 50%;
	}

	.list-word {
		font-size: 25px;
	}

	input[type="checkbox"] + label span {
		width: 25px;
		height: 25px;
		margin-top: -5px;
	}

	input[type="checkbox"]:checked + label span:after {
		font-size: 20px;
		margin-left: 4px;
	}

}

